* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
}
nav h1 {
  background-color: azure;
}
nav {
  background-color: bisque;
}
nav ul li {
  display: inline-block;
  margin-left: 2.44rem;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: mediumvioletred;
  background-color: mediumturquoise;
}
article {
  background-color: cornsilk;
}
section {
  background-color: floralwhite;
}
div {
  background-color: ghostwhite;
}
main {
  background-color: honeydew;
}
aside {
  background-color: ivory;
}
article,
section,
div,
main,
aside {
  padding: 7px;
}
footer {
  padding: 6px;
}
