* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: mediumslateblue;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}
h1 {
  text-align: center;
  letter-spacing: 16px;
  color: mediumpurple;
  font-family: "Bowlby One SC", cursive;
  background-color: beige;
  padding: 7px;
  font-size: 2.5rem;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: mediumvioletred;
  background-color: mediumturquoise;
}
nav#scroll {
  text-align: center;
  font-family: "Just Me Again Down Here", cursive;
}
main {
  color: rgb(64, 70, 238);
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  background-color: whitesmoke;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  min-height: 800px;
}
article,
section,
aside {
  background-color: coral;
  padding: 10px;
  max-height: 250px;
}
div#intro {
  height: 200px;
  padding: 10px;
  background-color: wheat;
  font-size: 20px;
}
footer {
  color: turquoise;
  background-color: dimgray;
  padding: 20px 10px;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }
}
